/*
-----------------------------
 Elements
-----------------------------
*/

html, body { padding:0; margin:0; }
body { font:14px Arial; }
a { text-decoration:none; }
h1, h2, h3, h4 { margin:0px; padding:0px; }
form { margin:0px; padding:0px; }

/*
-----------------------------
 Main
-----------------------------
*/

#wrapper { width: 960px; margin:0 auto; }
#header { padding: 30px 0 10px; height:60px; border-bottom:2px solid #75a5e7; }
#hleft { float:left; }
#hright { float:right; }
#content { padding: 30px 0; }
.page-title { padding: 0 0 20px; }
.sub-title { padding: 0 0 10px; color:#019cde; }
#columns { margin:0 0 0 -40px; }
.column { float:left; width:460px; margin-left:40px; }

/* Mobile view */
@media screen and (max-width: 960px) {
	#wrapper { width:460px; padding:0 10px; }
	#header { width:460px; }
	#columns { margin:0px; }
	.column { margin-left:0px; }
}

/*
-----------------------------
 Admin - Header
-----------------------------
*/

.link { 
	float:left; 
	display:block; 
	padding:40px 0 0; 
	background-position:center top; 
	background-repeat:no-repeat;
	font-weight:bold;
	color:#313131;
}
.link:hover {
	color:#75a5e7;
}
#hleft .link { margin-right:40px; }
#hright .link { margin-left:40px; }
#link-home { background-image:url('../images/home.gif'); }
#link-project { background-image:url('../images/project.gif'); }
#link-resource { background-image:url('../images/resource.gif'); }
#link-logout { background-image:url('../images/logout.gif'); }

/*
-----------------------------
 Admin - Form
-----------------------------
*/

.zend_form { margin:0; }
.zend_form dt { background-color:#dfdfdf; padding:16px 20px 0; }
.zend_form dd { background-color:#dfdfdf; padding:0 16px 20px; margin:0 0 10px; }
dt#submit-label { background:none; padding:0; margin:0; height:1px; }
dd#submit-element { float:right; padding:16px 20px; }
dd input{ width:98%; }
dd textarea{ width:98%; height:400px; }
ul.errors{ 
	list-style:none;
	background-color:#f1a3a3; 
	border:1px solid #e87474; 
	padding:10px; 
	margin-top:10px; 
}
ul.errors li{
	color:#781111;
	font-size:12px;
	font-weight:bold;
}

/* Hide all id fields */
#project_id-label, #project_id-element, #part_id-label, #part_id-element { display:none; }

/*
-----------------------------
 Admin - Project list
-----------------------------
*/

.project { background-color:#dfdfdf; height:100px; margin-bottom:10px; }

.project .info { float:left; padding: 24px 0 24px 30px; min-width:380px; }
.project .info h3 { font-size:22px; margin-bottom:10px; font-weight:normal; }
.project .info a { color:#000; }
.project .info a:hover { color:#2a549e; }
.project .info span { color:#626262; margin-right:30px; }

.project .stats { float:left; padding: 30px 0 30px 25px; color:#626262; font-size:16px; }
.project .stats .parts { margin-bottom:6px; }
.project .stats b { color:#2a549e; }

.project .progress { position: relative; background-color: #ff5c5c; float:right; width:40px; height:100px; }
.project .progress .percentage { position: absolute; font-size:11px; text-align:center; width:40px; bottom:6px; }
.project .progress .full { background-color: #64ff5c; width:40px; height:100px; }

/* Mobile view */
@media screen and (max-width: 960px) {
	.project .info { min-width:200px; }
	.project .progress { width:10px; text-indent:-9999em; overflow:hidden; }
}

/*
-----------------------------
 Admin - Part list
-----------------------------
*/

.parts { margin-bottom:20px; }
.part { background-color: #dfdfdf; height:190px; margin-bottom:10px; }

.part .info { padding: 20px 20px 10px; }
.part .info h4 { font-size:15px; }

.part .status { float:left; padding: 0 20px 20px 20px;}
.part .status a { background-color:#75a5e7; display:block; color:#132e53; font-size:12px; font-weight:bold; padding:6px 10px; margin-bottom:4px; text-align:center; border-radius:2px; }
.part .status a.active { background-color:#fff; color:#132e53; display:block; cursor:default; }
.part .status a:hover { background-color:#fff; color:#132e53; }

.part .comment { position:relative; float:left; padding: 0 20px 20px 0; color:#000; font-size:13px; width:310px; height:120px; overflow:hidden; }
.part .comment .actions { position:absolute; bottom:20px; right:20px; }
.part .comment .actions a { float:right; background-color:#626262; display:block; color:#000; font-size:12px; font-weight:bold; padding:6px 10px; margin-left:4px; text-align:center; border-radius:2px; }
.part .comment .actions a.edit { float:right; background-color:#aee973; display:block; color:#2a4312; font-size:12px; font-weight:bold; padding:6px 10px; margin-left:4px; text-align:center; border-radius:2px; }
.part .comment .actions a.delete { float:right; background-color:#e87474; display:block; color:#5e1414; font-size:12px; font-weight:bold; padding:6px 10px; margin-left:4px; text-align:center; border-radius:2px; }
.part .comment .actions a.edit:hover { background-color:#fff; color:#2a4312; }
.part .comment .actions a.delete:hover { background-color:#fff; color:#5e1414; }