SetEnvIf Host 127.0.0.1 APPLICATION_ENV=development
SetEnvIf Host localhost APPLICATION_ENV=development
SetEnvIf Host edulab.mnixell.com APPLICATION_ENV=production
RewriteEngine On

# RewriteBase equivalent - Localhost
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule . - [E=REWRITEBASE:/edulab/www/]

# RewriteBase equivalent - 127.0.0.1
RewriteCond %{HTTP_HOST} !^127.0.0.1$
RewriteRule . - [E=REWRITEBASE:/edulab/www/]

# RewriteBase equivalent - Production
RewriteCond %{HTTP_HOST} ^edulab.mnixell.com$
RewriteRule . - [E=REWRITEBASE:/]

RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ %{ENV:REWRITEBASE}index.php [NC,L]